<h1>Need Assistance?</h1>

<form class = 'new-mission-form'>
    <br>
    <label for="name">Mission Name</label>

    <input type='text' id='name' name='name'>
    <br>
    <label for="location">Where is the mission?</label>

    <input type='text' id="location" name="location">
    <br>
    <label for="description">Describe the mission</label>

    <input type='text' id="description" name="description">
    <br>
    <label for="priority">Priority</label>

    <select name='priority' id='priority'>
        <option value='Routine'>Routine</option>
        <option value='Urgent'>Urgent</option>
        <option value='Critical'>Critical</option>
    </select>
<br>
    <input type = submit id= 'mission-create' value = 'Request Help'>
</form>

<script src="/js/newMission.js"></script>
