<h1 class="header-text text-center">Need Assistance?</h1>
<div class="form-parent">
    <div class="d-flex form-container justify-content-center">
        <form class='new-mission-form card p-3 shadow-card'>

            {{!-- <div class="form-group"> --}}
                <label for="name">Mission Name</label>
                <input class="inputs" type='text' id='name' name='name'>
                {{!--
            </div> --}}


            {{!-- <div class="form-group"> --}}
                <label class="mt-2" for="location">Where is the mission?</label>
                <input class="inputs" type='text' id="location" name="location">
                {{!--
            </div> --}}

            {{!-- <div class="form-group"> --}}
                <label class="mt-2" for="description">Describe the mission</label>
                <textarea class="inputs" type='text' id="description" name="description"></textarea>
                {{!--
            </div> --}}

            {{!-- <div class="form-group mb-2"> --}}
                <label class="mt-2" for="priority">Priority</label>
                <select class="inputs" name='priority' id='priority'>
                    <option value='Routine'>Routine</option>
                    <option value='Urgent'>Urgent</option>
                    <option value='Critical'>Critical</option>
                </select>
                {{!--
            </div> --}}

            <div class="form-group mt-4">
                <button type="submit" class="modal-launch btn_animate btn-outline-dark" id='mission-create'
                    data-bs-toggle="modal" data-bs-target="#exampleModal">Request Help</button>
            </div>

        </form>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Misson Submitted</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>One of our heros will review your request and respond as soon as possible</p>
                <br>
                <p>Return to homepage to see any updates</p>

            </div>
            <div class="modal-footer">

                <p id="homepage" class="btn btn-outline-dark">Return</p>
                {{!-- <button type="button" class="btn btn-primary submitBtn">Submit</button> --}}
            </div>
        </div>
    </div>
</div>




<script src="/js/newMission.js"></script>