@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #f8f9fa;
    padding-bottom: 50px;
}

.header-text {
    font-family: 'Bangers', sans-serif;
    font-kerning: 4px;
}

.form-input {
    width: 300px;
}

#update-form {
    display: none;
}

.form-group {
    margin: 4px;
}

.form-container input {
    vertical-align: middle;
}

.inputs {
    margin-left: 4px;
    float: right;
}

.form-parent {
    height: 100%;
    width: 100%
}

.form-container {
    margin: 0px auto;
}

.logout {
    cursor: pointer;
}

.modal-launch {
    cursor: pointer;
    text-decoration: none;
}

.sign-modal-launch {
    text-decoration: underline;
    cursor: pointer;
}

.btn_animate {
    background-color: #F48224;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    border-radius: 3px !important;
    border: none;
    transition: all 0.3s ease 0s;
}

.btn_animate:hover,
.btn_animate.active:hover {
    color: #ffffff;
}

.btn_animate:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color: #2E0014;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
}

.btn_animate:after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color: #2E0014;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
}

.btn_animate:hover:before,
.btn_animate:hover:after,
.btn_animate.active:before,
.btn_animate.active:after {
    width: 100%;
}

@media screen and (max-width: 575px) {
    .btn_animate {
        margin-bottom: 50px !important;
    }
}

.page-button a {
    text-decoration: none;
    color: black;
}

.page-button:hover a {
    text-decoration: underline;
    color: white;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table-container a {
    text-decoration: none;
    color: black
}

.table-container a:hover {
    color: grey;
}

.table-container td,
th {
    margin: 2px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 7%;
}

.logo img {
    height: auto;
    width: 100%;
}

.nav {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.shadow-card {
    background-color: white;
    box-shadow: rgba(240, 143, 46, 0.4) -5px 5px, rgba(240, 140, 46, 0.3) -10px 10px, rgba(240, 135, 46, 0.2) -15px 15px, rgba(240, 130, 46, 0.1) -20px 20px, rgba(240, 120, 46, 0.05) -25px 25px;
}


.open-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mission-table {
    box-shadow: rgba(207, 133, 23, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(26, 24, 17, 0.1) 0px 24px 80px;
}

.login-card {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.shadow-card-right {
    box-shadow: rgba(240, 143, 46, 0.4) 5px 5px, rgba(240, 140, 46, 0.3) 10px 10px, rgba(240, 135, 46, 0.2) 15px 15px, rgba(240, 130, 46, 0.1) 20px 20px, rgba(240, 120, 46, 0.05) 25px 25px;
}

.new-mission-form {
    width: 475px;
}

.hover:hover {
    text-decoration: underline;
}

.user-profile li {
    list-style: none;
}